body{
	/*background: rgb(235,235,235);*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;        /* Firefox, other Gecko */
	box-sizing: border-box;
}
#roi-calculator-container{
	width: 100%;
	max-width: 400px;
	min-width: 250px;
	margin: 0 auto;
	font-family: Helvetica;
	color: #55565a;
}

#roi-form-container{
	border: 8px solid rgb(249, 86, 14);
	background: white;
}

#roi-header-container{
	padding: 10px 10px 5px 20px;
	background: rgb(249, 86, 14);
	overflow: hidden;
}

#roi-calculator-container h3{
	margin: 0;
	color: white;
	font-size: 18px;
}

#roi-calculator{
	padding: 20px 0;
	width: 85%;
	margin: 0 auto;
}

#roi-calculator label{
	color: rgb(167, 167, 167);
	font-size: 14px;
}

#roi-calculator input, #roi-calculator select{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;        /* Firefox, other Gecko */
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto 15px auto;
	height: 55px;
	margin-bottom: 15px;
	text-align: right;
	font-size: 18px;
	color: #55565a;
	margin-top: 5px;
	padding: 10px;
	background: rgb(232, 232, 232);
	text-align: left;
	font-size: 32px;
	color: rgb(102, 102, 102);
	box-shadow: none;
	border: none;
	font-weight: bold;
	vertical-align: middle;
}

#roi-calculator select{
	padding: none;
	-webkit-appearance: none;
	border-radius: 0px;
}

#roi-calculator-container button{
	height: 35px;
	border-radius: 0;
	background: rgb(206,206,206);
	border: none;
	font-size: 16px;
	padding: 3px 15px;
	cursor: pointer;
	color: #55565a;
}

#roi-calculator-container #roi-calculate-button{
	width: 100%;
	background: rgb(249, 86, 14);
	height: 45px;
	color: white;
	padding: 10px 0px;
}

#roi-results-table {
	border: 8px solid rgb(249, 86, 14);;
	background: white;
	margin-top: 20px;
	border-spacing: 0;
	margin-bottom: 25px;
	width: 100%;
	text-align: left;
	position: relative;
	padding: 50px 10px 10px 10px;
}

#roi-results-table th{
	color: rgb(102, 102, 102);
	position: absolute;
	width: 100%;
	top: 5px;
	font-size: 22px;
	text-align: center;
	padding: 10px 0px;
}

#roi-results-table tr td{
	border: 1px solid rgb(224, 224, 224);
	padding: 6px;
	color: rgb(102, 102, 102);
}

#roi-results-table tr td.left{
	width: 25%;
}

#roi-results-table tr td.right{
	width: 75%;
	font-size: 30px;
	padding-left: 10px;
}

#roi-results-table tr td.savings-name{
	text-align: left;
}

#roi-results-table .combined-savings, #roi-results-table .roi-savings{
	font-weight: bold;
	background: rgb(249, 86, 14);
}

#roi-results-table .combined-savings td, #roi-results-table .roi-savings td{
	color: white;
}


#roi-show-download-modal{
	color: black;
	margin-left: 4px;
	cursor: pointer;
	font-weight: bold;
}

.roi-full-report{
	display: none;
	text-align: center;
}

#roi-download-modal-backdrop{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(85,86,90, 0.6);
	top: 0;
	left: 0;
	z-index: 100000;
}

#roi-download-modal{
	position: fixed;
	height: 457px;
	width: 600px;
	top: calc(40% - (457px/2));
	left: calc(50% - 300px);
	background: white;
	z-index: 100001;
}

#roi-download-modal .text-content{
	padding: 10px;
	width: 75%;
	float: right;
}


#roi-download-modal #document-logo{
	width: 10%;
	float: left;
	background: url('document-logo.png') center;
	background-size: 100%;
	height: 80px;
	margin-left: 40px;
	margin-top: 30px;
}

#roi-download-modal h3{
	color: grey;
}

#roi-download-modal h4{
	font-size: 16px;
	margin-bottom: 5px;
}

#roi-download-modal p{
	font-size: 14px;
	line-height: 20px;
	padding: 0px 0px 5px 0px;
}

#roi-download-modal ul{
	padding-left: 15px;
	padding: 0px;
}

#roi-download-modal ul li{
	font-size: 14px;
	padding: 0px;
}

#roi-download-modal form, #roi-download-modal .enter-info-prompt{
	text-align: center;
	padding: 0 10px;
	clear: both;
}

#roi-download-modal form{
	margin-bottom: 20px;
}

#roi-download-modal form input{
	float: left;
	width: 210px;
	margin-left: 40px;
	margin-bottom: 10px;
	height: 20px;
	font-size: 14px;
}

#roi-download-modal-footer {
	background: grey;
	height: 30px;
	width: 580px;
	padding: 10px;
}

#roi-download-modal-footer div{
	height: 30px;
	line-height: 30px;
	color: white;
	text-align: center;
	font-size: 18px;
}